<?xml version="1.0"?>
<launch>

  	<include file="$(find nautilus_final_race)/launch/simulator.launch">
            <arg name="map" value="$(find nautilus_final_race)/maps/race_track_f110.yaml"/>
    </include>

  <rosparam command="load" file="$(find nautilus_final_race)/config/race_params.yaml"/>
  
  <include file="$(find race_monitor)/launch/race_monitor.launch"/>
  <include file="$(find nautilus_final_race)/launch/pf.launch"/>
  
  <node pkg="nautilus_final_race" name="nautilus_race_node" type="nautilus_race.py" output="screen"/>
  <node pkg="nautilus_final_race" name="final_race_quality_node" type="final_race_quality.py" output="screen"/>
  <node pkg="nautilus_final_race" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="nautilus_final_race" name="visualize_markers_node" type="visualize_markers.py" output="screen"/>

</launch>
